{% extends 'layout.twig' %}

{% block content %}

 {% if not user %}

 <a href="/login"> Login</a> 

 <br>

 <a href="/register"> Register</a>

 {% endif %}

 {% if user %}

 <p>You are currently logged in as {{user.username}}</p> 

 <a href="/logout"> Logout </a>

 {% endif %}

{% endblock %}