<!doctype html>

<html>

 <head>

 <title>Local Authentification</title>

 <link rel="stylesheet" href="/stylesheets/style.css" />

 </head>

 <body>

 

 <h1>Local Authentication With Passport and Express 4</h1>

{% block content %}{% endblock %}

 

 

 </body>

 </html>