{% extends 'layout.twig' %}

{% block content %}

<div >

 <h3> Login Page</h3>

 <br>

 <form action="/login" method="post" style="max-width: 300px;" > 

 <input type="text" name="username" placeholder="Enter 

Username"/> 

<input type="password" name="password" 

placeholder="Password"/>

 <br>

<input type="submit" type="submit" value="Submit" /><br> 

<input type="reset" value="Cancel" /> 

 </form>

 <a href='/'>Retour</a> 

</div>

{% endblock %}