{% extends 'layout.twig' %}

{% block content %}

<div >

 <h3> Register Page</h3> 

 <form action="/register" method="post" style= "max-width: 300px;">

 <input type='text', name="username" placeholder='Enter 

Username'/>

 <input type="password" name="password"

placeholder='Password'/>

 <br><input type="submit" type='submit' value="Submit" /> 

 <input type="reset" value="Cancel" /> 

 </form>

 <a href= "/">Retour</a> 

</div>

{% endblock %}